htmly{
    background-color: #93e3c7;
}
header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}
head{
    background-image:url(waterfall.jpeg);
    background-size: cover;
}
.website_name{
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about{
    text-align:center;
    margin-top: 8%;
    font-size: 20px;
}
nav {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: #539e8a;
    overflow: hidden;
    padding: 1em;
}
li {
    display: inline;
}

    li a {
        text-decoration: none;
        color: #f6c5c0;
        padding: 1em;
    }

        li a:hover {
            background-color: #457567;
        }
.sleep-tips {
    background-color: #ccebf8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
}

/* Style the meal plan section */
.sleep-hyg {
    background-color: #ccebf8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}
.sub-section{
    font-size: 35px;
    text-align:center;
}